.bio {
    &__container{
        display:flex;
        margin-left: 148px;
        margin-right:148px;
        justify-content: space-between;
        margin-top:140px;
    }
    &__portrait{
        vertical-align: top;
    }
    &__greeting{
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
    text-align: left;
    width: 587px;
    height: 105px;
    margin-bottom:40px;
    }
    &__description{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    width: 497px;
    height: 66px;
    margin-bottom: 38px;
    }
    &__download{
        cursor:pointer;
        white-space:nowrap;
        background: #FF6464;
        width: 208px;
        height: 47px;
        border-radius: 2px;
        border:none;
        color: white;
        padding-left: 20px;
        padding-right:21px;
        padding-top:9px;
        padding-bottom: 17px;
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        margin-bottom:71px;
    }

}