.featured-works{
    &__container{
        margin-left:148px;
        margin-right:148px;
    }

    &__link{
        position:relative;
        font-weight: 700;
        font-size: 30px;
        line-height: 44px;
        text-decoration: none;
        color: #21243D;
    }

    &__post{
        display:flex;
        margin-top: 22px;
        padding-bottom: 15px;
        border-bottom: 1px solid #e0e0e0;
    }

    &__header{
        font-weight: 400;
        font-size: 22px;
        line-height: 60px;
        margin-top:15px;
        margin-bottom:22px;
    }

    &__additional-info{
        display:inline-flex;
        margin-top:10px;
        margin-bottom:17px;
        align-items:center;
        gap:36px;
    }

    &__text{
        position:relative;
        margin-left: 18px;
        &:first-child{
            margin-top:-20px;
        }
    }

    &__tag{
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        color: #8695A4;
    }
    
    &__date{
        padding-right:26px;
        background: #142850;
        border-radius: 16px;
        font-weight: 900;
        font-size: 18px;
        color: #FFFFFF;
        padding-left:10px;
        padding-right:10px;
    }
}