@use './nav.scss';
@use './bio.scss';
@use './recent-posts.scss';
* {
    box-sizing: border-box;
}
body {
    font-family: 'Heebo', sans-serif;
    overflow-x: hidden;
    color: #21243D
}
.container {
    width: 1152px;
    margin: 0 auto;
  }
ul{
    list-style: none;
}